:root {
    --h4-color: rgb(42, 176, 253);
    --p-color: white;
    --section-width: 500px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

h1, h2, h3, h4, h5 {
    color: var(--h4-color);
}

input {
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px 5px 10px 0;
    width: calc(var(--section-width) / 2.3);
}

.container-bg {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/13570593-d036-4374-9dce-1e26c9c05170/dcmhwbt-7478720d-d5c6-463b-beaa-f6a5562982c6.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzEzNTcwNTkzLWQwMzYtNDM3NC05ZGNlLTFlMjZjOWMwNTE3MFwvZGNtaHdidC03NDc4NzIwZC1kNWM2LTQ2M2ItYmVhYS1mNmE1NTYyOTgyYzYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.kDl1-8y7y-HQqIQBhJVvodAOdHMpuCwyDPCKlRj9qSA');
    background-size: cover;
    animation: 120s newimg infinite forwards;
}


/* @keyframes newimg {
    50% {background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/13570593-d036-4374-9dce-1e26c9c05170/dc7uh8l-5695975d-4a2a-45ae-be55-f2dac437b38d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzEzNTcwNTkzLWQwMzYtNDM3NC05ZGNlLTFlMjZjOWMwNTE3MFwvZGM3dWg4bC01Njk1OTc1ZC00YTJhLTQ1YWUtYmU1NS1mMmRhYzQzN2IzOGQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.7VvJ232U7hIT5G8oORxc37bQ983Jl0woHishIe3sV3E');}
} */


.container {
    background-color: rgba(17, 17, 17, 0.849);
    max-width: var(--section-width); 
    margin: 0 auto;
    padding: 5em;
    color: var(--p-color);
}

.container table {
    text-align: center; 
    margin: 10px auto;
    width: 100%;
}

.container section {
    margin: 50px 0%;
}

.table-parcelas td, tr {
    padding: 10px;
    background-color: rgb(34, 34, 34);
}

.thead-color {
    background-color: rgb(129, 198, 255) !important;
}

.validar-notas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.validar-notas h4 {
    grid-column: 1/4;
}

.validar-notas input {
    max-width: 130px;
}
