:root {
    --w-conteiner: 1220px;
    --w-atv3-menu: 800px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    color: #101010;
}

button {
    color: black;
}

.bg-image {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b3be1dae-3caa-4d45-be6c-3de586ba95e2/degzd3v-302bc5b8-6362-4858-8d8d-b13f90c53cfd.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2IzYmUxZGFlLTNjYWEtNGQ0NS1iZTZjLTNkZTU4NmJhOTVlMlwvZGVnemQzdi0zMDJiYzViOC02MzYyLTQ4NTgtOGQ4ZC1iMTNmOTBjNTNjZmQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.JM_2GNN9ezx5rBd01cLhAqHJlV-hA1Sd2UJPqdqxv4Q');
    background-size: cover;
}

/*block*/

.d-block {
    display: none;   
}

/*block*/

.container {
    color: white;
    margin: 0 auto;
    max-width: var(--w-conteiner);
    background-color: rgba(54, 54, 54, 0.842);
}

.nav-menu {
    background-color: rgba(39, 39, 39, 0.932); 
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

.nav-menu li {
    width: calc(var(--w-conteiner)/ 3);
    padding: 30px 0;
    text-align: center;  
}

.nav-menu li:hover {
    background-color: rgba(0, 0, 0, 0.863);
    cursor: pointer;
}


main section { 
    margin-top: 50px;
}

.ex-1 table tr, td{
    padding: 20px;
}

/*
*/

.slide-show {
    width: var(--w-atv3-menu);
    overflow: hidden;
    margin: 30px auto;
    padding-bottom: 30px;
    position: relative;
}

.slides {
    width: 400%;
    
    animation:1s animaSlide normal;
    display: flex;
}

@keyframes animaSlide {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.slides img {
    width: 800px;
    height: 570px;
}

.buttons-slide button {
    background-color: rgba(173, 173, 173, 0.425);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    position: absolute;
    cursor: pointer;
}

.buttons-slide button[title="frente"] {
    left: 92%;
    top: 45% ;
}

.buttons-slide button[title="atras"] {
    left: 20px;
    top: 45% ;
}

.buttons-slide button[title="atras"]::after {
    content: ' ';
    position: absolute;
    top: 35%;
    left: 35%;
    width: 10px;
    height: 10px;
    transform: rotate(315deg);
    border-top: 3px solid rgba(43, 43, 43, 0.781);
    border-left: 3px solid rgba(43, 43, 43, 0.781);
}

.buttons-slide button[title="frente"]::after {
    content: ' ';
    position: absolute;
    top: 35%;
    left: 30%;
    width: 10px;
    height: 10px;
    transform: rotate(135deg);
    border-top: 3px solid rgba(43, 43, 43, 0.781);
    border-left: 3px solid rgba(43, 43, 43, 0.781);
}

.buttons-slide button[title="atras"]:hover, .buttons-slide button[title="frente"]:hover {
    background-color: rgba(223, 223, 223, 0.836);
}



/*
*/

.menu-ex3 {
    width: 800px;
    margin: 0 auto;
}

.menu-ex3 ul{
    display: flex;
    flex-wrap: wrap;
}

.menu-ex3 ul li {
    width: calc(var(--w-atv3-menu) / 3);
    background-color: green;
    text-align: center;
}

.menu-ex3 ul li:hover {
    background-color: aliceblue;
    cursor: pointer;
}